body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


#main {
  display: flex;
  height: 90%;
  width: 90%;
  background-color: black;
  box-shadow: 3px 3px 5px black;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #00FF41;
  text-shadow: 2px 2px 5px #00FF41;
}

#topBar {
  display: flex;
  width: 90%;
  font-size: x-large;
  text-shadow: 2px 2px 5px black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  text-shadow: 2px 2px 5px #00FF41;
}


#mid {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

#score {
  font-size: x-large;
  text-shadow: 2px 2px 5px #00FF41;
  flex-direction: column;
  align-items: center;
}

#dice {
  display: flex;
  height: 200px;
  width: 200px;
  background-size: contain;
  justify-content: center;
  height: 125px;
  width: 125px;
}

#roll{
  display: flex;
  font-size: x-large;
  text-shadow: 2px 2px 5px #00FF41;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 85%;
}

#roller {
  display: inline;
  font-size: x-large;
  width: 400px;
  border-radius: 40px;
  padding: 2px 30px;
  background-color: black;
  color: #00FF41;
  text-shadow: 2px 2px 5px #00FF41;
  box-shadow: 3px 3px 5px black;
  width: 400px;
  margin-bottom: 25px;
  font-size: initial;
}

#reset {
  display: none;
  width: 400px;
  font-size: x-large;
  border-radius: 40px;
  padding: 2px 30px;
  background-color: black;
  color: #00FF41;
  box-shadow: 3px 3px 5px black;
  width: 400px;
  margin-bottom: 25px;
  font-size: initial;
}












  