body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  height: 90%;
  width: 90%;
  background-color: white;
  box-shadow: 3px 3px 5px black;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

#topBar {
  display: flex;
  width: 90%;
  font-variant: small-caps;
  font-size: x-large;
  text-shadow: 2px 2px 5px white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#mid {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

#score {
  font-variant: small-caps;
  font-size: x-large;
  text-shadow: 2px 2px 5px white;
  flex-direction: column;
  align-items: center;
}

#dice {
  display: flex;
  height: 200px;
  width: 200px;
  background-size: contain;
  justify-content: center;
}

#roll{
  display: flex;
  font-variant: small-caps;
  font-size: x-large;
  text-shadow: 2px 2px 5px white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#roller {
  display: inline;
  font-size: x-large;
  width: 400px;
  border-radius: 40px;
  padding: 2px 30px;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 5px rgb(78, 51, 0);
}

#reset {
  display: flex;
  width: 400px;
  font-size: x-large;
  border-radius: 40px;
  padding: 2px 30px;
  background-color: black;
  color: white;
  box-shadow: 3px 3px black;
}
  #topBar {
      width: 90%;
  }

  .dice {
      height: 125px;
      width: 125px;
  }

  .roll {
      height: 175px;
      width: 85%;
  }

  .roller {
      width: 200px;
      margin-bottom: 25px;
  }

  .reset {
      width: 200px;
      margin-bottom: 25px;
  }
